
.scroll {
   overflow-x: hidden;
   overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: black;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
}
body{
  background-color: !important;
}
.topnav{
  width:100%;
  height:60px;
  background-color:black;
  color:white;
  padding:20px;
  font-size:20px;
}
.player-wrap{
  background-color:#252525 !important;
}
#video-player{
}
#video-list{
  padding-top:14px;
  margin-left:-15px;
  height:520px;
  background-color:black;
}
.thumb{
  width:122px;
  height:74px;
  background-color:white;
  float:left;
}
.thumbimg{
  width:100%;
  height:100%;
}
.title{
  margin-top:15px;
  margin-left:3px;
  float:left;
  color:white;
  font-size:10px;
}
.video-wrap{
  width:105%;
  height:80px;
  margin-top:10px;
  float:left;
}
.now-playing{
  font-weight:bold;
  color:gray;
  margin-top:25px;
}
.title-playing{
  margin-top:-8px;
  font-weight:bold;
}
.bottom{
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
.row{

}
.col-md-8{

}
.sitetitle{
 padding-left:100px;
}
#sitetitle{
  padding-left:100px;
}
.sitetitle-subtitle{
  margin-top:-10px;
  padding-left:100px;
}
.owner-details{

}
.owner-pic{
  width:60px;
  height:60px;
  border-radius:50%;
  float:left;
}
.owner-name{
  margin-top:20px;
  margin-left:20px;
  float:left;
  font-weight:bold;
}
#channel-content{
  margin-top:150px;
}
.channel-card{
  float:left;
  margin-left:40px;
  margin-top:20px;
}
.channel-img{
  display:block;
  width:208px;
  height:175px;
  border-style:solid;
  border-radius:5px;
}
.channel-title{
  font-size:20px;
  margin-top:5px;
  margin-left:2px;
}
